<head>
	<title>TestServer</title>
</head>

<body>
<% open('ngrok.log') do |f| %>
  <% f.lines.select { |line| line.include?("URL:") }.each do |line| %>
    <h1>Server available at: <%= (line.match(/tcp:\/\/(.+:[0-9]+) /)[1]) %></h1>
    <br />
  <% end %>
<% end %>
</body>